



body {

    margin:0;				padding:0;

    font-family:Arial,sans-serif;

}

.logo {width:6.16vh; 

margin-left:-9.37vw;

}

.navbar {

    position:fixed;

    width:100vw;

    height:8vh;

    box-shadow:0 5px 19px rgba(0, 0, 0, .2);

    background:white;

}

.navbar {

    display:flex;

    justify-content:space-between;

    align-items:center;

    

}

.navbar a img{

    cursor:none;

}

.navbar  .side {

    width:12.5vw;

}

.navbar a .ic1 {

    width:12.5vw;

    margin-right:3.12vw;

}

.navbar a .ic2 {

    width:10.31vw;

    margin-right:3.12vw;

}

.navbar a .ic3{

    width:9.687vw;

    margin-right:3.12vw;

}

.all {

padding-top:8vh;

text-align:center;



}

.all h1 {

    color:#556dff;
    font-size: 6vw;

}

.all b {

    color:#6a8dff;
    font-size: 3vw;

}

.siden {

                    width:30vw;

    height:15vh;

    bottom:-46vh;

    background:black;

    opacity:60%;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:0.5s;



    

}

.siden h3 {

    color:white;
    font-size:4vw ;

}

.siden:hover {





width:100vw;

}







    



